<!DOCTYPE html>
<html>
  <head>
    <title>Báo mới</title>
  </head>
  <body>
    <header>
      <h1><a href="/">Người dân nên ở nhà từ sáng thứ 7 để tránh siêu bão Yagi</a></h1>
    </header>

    <article>
      <time>published: 05.09.2024, 12:14</time>
      <h2><a href="">Bài báo 1</a></h2>
      <p>Theo ông Phạm Đức Luận, Cục trưởng Cục Quản lý đê điều và phòng, chống thiên tai (Bộ NN&PTNT), từ sáng thứ 7 người dân nên ở nhà vì dự báo bán kính hoàn lưu của bão Yagi rất rộng.</p>
    </article>

    <article>
      <time>published: 14.06.2014, 12:14</time>
      <h2><a href="">Bài báo 2</a></h2>
      <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
    </article>
  </body>
</html>
